@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gary Taylor, Applications Developer</h1>
    <p class="lead">A site to show just what I can do</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-header">C# and .NET</h4>
                    <p class="card-text">
                        Over 3 years of experience with C# and the .NET framework. I have knowledge of both the world
                        of desktop and web based applications. I also have a knowledge of many of the popular coding
                        paradigms such as MVVM for desktop and MVC for web applications.
                    </p>
                    <div>
                        <button class="btn btn-primary btn-block">C# Examples</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-header">HTML/JS/AJAX</h4>
                    <p class="card-text">
                        A combined 5+ years of experience in the languages of the web. I have a solid foundation when it comes
                        to website development. I am able to write client side code bringing together back end
                        and front end functionality.
                    </p>
                    <div>
                        <button class="btn btn-primary btn-block">Web Development Examples</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-header">CSS/Bootstrap/LESS</h4>
                    <p class="card-text">
                        Using the current standards of web design, I have the tools and knowledge to create and present web pages that are
                        both responsive and intuitive for an excellent user experience.
                    </p>
                    <div>
                        <button class="btn btn-primary btn-block">Design Examples</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
